@font-face {
  font-family: "iconfont"; /* Project id 4265049 */
  src: url('iconfont.woff2?t=1695436325578') format('woff2'),
       url('iconfont.woff?t=1695436325578') format('woff'),
       url('iconfont.ttf?t=1695436325578') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nanzhuang:before {
  content: "\e600";
}

.icon-jiayongdianqi:before {
  content: "\e601";
}

.icon-chuweidianqi:before {
  content: "\e682";
}

.icon-wine:before {
  content: "\e609";
}

.icon-31shoucang:before {
  content: "\e602";
}

.icon-icon-bar:before {
  content: "\e603";
}

.icon-zhengtijiazhuang:before {
  content: "\e6d6";
}

.icon-wodejiepai:before {
  content: "\e66d";
}

.icon-xingliyishisunhuai:before {
  content: "\e6c5";
}

.icon-yanjing:before {
  content: "\e63d";
}

.icon-qiyelxrsz:before {
  content: "\e693";
}

.icon-shouji:before {
  content: "\e63e";
}

.icon-nvzhuangqunzi-:before {
  content: "\e604";
}

.icon-naifen:before {
  content: "\e607";
}

.icon-zhinengshebei:before {
  content: "\e60e";
}

.icon-erhuan:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e605";
}

.icon-wodezuji:before {
  content: "\e614";
}

.icon-tongzhuang:before {
  content: "\e68c";
}

.icon-diannao:before {
  content: "\e625";
}

.icon-remen:before {
  content: "\e62c";
}

.icon-xiyiyee:before {
  content: "\e606";
}

.icon-dianpu:before {
  content: "\e61d";
}

.icon-maiguo:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\e616";
}

