main{
    width: 900px;
}
form{
    height: 500px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
form label.avatar {
    width: 300px;
}
form label.avatar img{
    display: block;
    width: 200px;
    height: 200px;
}
form .layui-form-label{
    width: 100px;
}
form .layui-input-block input{
    width: 300px;
}
.toModifyPwd{
    display: inline-block;
    background-color: #adc;
    width: 100px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    color: #fff;
}